# Python cache and environments
.venv/
*.pyc
__pycache__/

$ Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Linux temporary files
.~lock*

# Directories
archived_responses/

# Files
test_output.csv
