beautifulsoup4==4.5.1
click==6.6
Flask==0.12
Flask-WTF==0.13.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mechanize==0.2.5
numpy==1.11.2
pandas==0.19.1
Pillow==3.4.2
PySocks==1.5.7
python-dateutil==2.5.3
pytz==2016.7
six==1.10.0
tqdm==4.9.0
Werkzeug==0.11.11
WTForms==2.1
