beautifulsoup4==4.5.3
click==6.6
Flask==0.12
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
mechanize==0.2.5
numpy==1.11.3
pandas==0.19.2
PySocks==1.6.5
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
tqdm==4.10.0
Werkzeug==0.11.15
